# ignore dataset folders
/data/train/
/data/val/
/AudioLDM/data/train/
/AudioLDM/data/val/
AudioLDM/ckpt
.venv/
venv/

# ignore common image/audio files
*.wav
*.jpg


# allow .gitkeep placeholders so empty folders are tracked
!.gitkeep

# Ignore system files
__pycache__/
*.pyc
*.pyo
.DS_Store
EOF
